.register-section-2 {
    background-image: url('../assets/login.jpg');
    height: 100vh; 
    background-position: center;
    background-size: cover;

    /* width: 100%; */
    height: 100vh;   /* Correct full screen height */

    display: flex;
    flex-direction: column;
    justify-content: center;   /* center vertically */
    align-items: center;       /* center horizontally */
    position: relative;
}
