body{
    overflow-x: hidden;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    display: none;
}
.slide {
    width: 100vw;
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../src/assets/home-background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: sans-serif;
        padding: 40px 20px;
        font-size: 3.2rem;
        text-align: center;
        color: white;
    }
}